.login__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login__title,
.login__input,
.login__button {
  display: flex;
  flex: 1;
  width: 100%;
}

.login__input,
.login__button {
  padding: 0.5rem;
  margin-top: 15px;
  color: #fff;
  background: #333;
  font-size: 1.2rem;
  outline: none;
}
.login__input {
  border: 0;
  border-bottom: 2px solid #fafafa;
}
.login__button {
  border-radius: 0.5rem;
  text-align: center;
  border: 2px solid #fafafa;
  text-align: center;
  cursor: pointer;
}
.login__button:hover,
.login__button:active {
  background: #777;
}
