.message-input__container {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  background: #333;
  padding: 1rem;
}
.message-input {
  flex: 9;
  padding: 0.5rem 0.25rem;
  outline: none;
  border-radius: 0.25rem;
  margin-right: 2rem;
}
.message-input__send-button {
  flex: 1;
  background: #f0f0f0;
  font-size: 18px;
  outline: none;
  border: none;
  margin-right: 2rem;
  border-radius: 0.25rem;
}

.message-input__send-button:active {
  background: #08915c;
  color: #fafafa;
}
