.message__container,
.announce__container {
  background: #fff;
  padding: 0.25rem 1rem;
}

.message__container.private-message,
.message__container.private-message.my-message {
  background: #9736b9;
  color: #fff;
}
.message__container.my-message {
  background: #f9eaff;
  /*color: #fff;*/
}
.message__username {
  font-size: 20px;
  font-weight: 600;
}

.message__text {
  font-size: 15px;
}
.announce__text {
  font-size: 15px;
  color: #aaa;
}
