.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.switcher {
  cursor: pointer;
  margin: 0.5rem 1rem;
  display: flex;
  align-self: center;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  align-self: center;
  color: #ff8888;
  margin: 0.5rem 1rem;
}
