.chat {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: calc(100vh - 67px);
}
.user-list {
  display: flex;
  flex: 1;
  background: #333;
  padding: 0.5rem 1rem;
  flex-direction: column;
}
.scroller-container {
  display: flex;
  flex: 5;
  flex-direction: column;
  height: inherit;
  overflow: hidden;
}
.scroller {
  height: 100%;
  width: calc(100% + 22px);
  overflow-y: scroll;
}
.user-list__title,
.user-list__user {
  color: #fff;
}
.user-list__me {
  color: #f50e0e;
}
.user-list__user {
  margin: 0.5rem 0;
}
.status-message {
  padding: 0.25rem 1rem;
  font-size: 15px;
  color: #aaa;
}
.logout-button {
  cursor: pointer;
  background: #8f09be;
  color: #fff;
  padding: 1rem;
  border: 2px solid #c6c6c6;
  border-radius: 0.25rem;
  font-size: 20px;
}
